google-adk
chainlit
langchain
langchain-community
langchain-huggingface
langchain-openai 
langchain_neo4j
langchain-core 
langchain-redis
fastapi
pytest
uvicorn 
loguru
langfuse
redis         
python-dotenv
